
	</body>

	<div class="footer">
	  	We have lots of great guides coming out soon 
	  	(about other colleges, different industries, startups, and more)!

	    <!-- Begin MailChimp Signup Form -->
	    <div id="mc_embed_signup">
		    <form action="http://insidesy.us3.list-manage1.com/subscribe/post?u=69a732618d51ce1efb2cc8b10&amp;id=d221158b4c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		      
		    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="enter your email" required>
		    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
		    <div style="position: absolute; left: -5000px;">
		    <input type="text" name="b_69a732618d51ce1efb2cc8b10_d221158b4c" value=""></div>
		    <div class="clear"><input type="submit" value="Get updated on new guide releases!" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
	    	</form>
	    </div>
	    <!--End mc_embed_signup-->

</br></br></br>

	    <!-- My email form -->
	    <div id="mc_embed_signup">
		    <form action="/saveEmail" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate>
		      
		    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="enter your email" required>
		    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
		    <div style="position: absolute; left: -5000px;">
		    <input type="text" name="b_69a732618d51ce1efb2cc8b10_d221158b4c" value=""></div>
		    <div class="clear"><input type="submit" value="Get updated on new guide releases!" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
	    	</form>
	    </div>
	    <!--my email form-->
  
	</div>


</html>