<% include header.html %>

<div class="middleHarvard">

  	<div class="authorLeft">
      <img class="circlePic" src="/molly.jpg" alt="molly"></br></br>
      The author of this guide, Molly Yang, is a 2013 graduate of Harvard College. She wrote this guide to provide a consolidated, deeper, and non-evangelical look at Harvard to help you make your decision about whether Harvard's the school for you. If you have any additional questions that you don't feel that this guide addresses, please email Molly at mollyisgreen@gmail.com, and she'll add those answers to the guide and email you a fresh new copy!
      </br></br>
      Download a copy for $8.</br></br>

      <!-- STRIPE -->
      <form action="/charge" method="POST">
      <input name="utf8" type="hidden" value="&#x2713;" />
      <input name="authenticity_token" type="hidden" value="f755bb0ed134b76c432144748a6d4b7a7ddf2b71" />
        
      <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="pk_test_QBdYETMCZtbvciG4WBalMS0I"
        data-amount="800"
        data-name="Download Guide"
        data-description="20-page Harvard guide ($8)"
        data-image="/crest.jpg"
        data-allow-remember-me = "false">
      </script>
    </form>

    </br>If you have any issues with downloading the guide, please email team@insidesy.com and we'll get back you asap.</br></br>

    <!-- AddThis Button BEGIN -->
    <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
    <a class="addthis_button_preferred_1"></a>
    <a class="addthis_button_preferred_2"></a>
    <a class="addthis_button_preferred_3"></a>
    <a class="addthis_button_preferred_4"></a>
    <a class="addthis_button_compact"></a>
    <a class="addthis_counter addthis_bubble_style"></a>
    </div>
    <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53338ed21a8a4e98"></script>
    <!-- AddThis Button END -->

  	</div>


	<div class="textBox">
        <h2>What's Harvard Like?</h2>
        <h2>Preview of the guide</h2>
        <p class="headerTag"><b>Table of Contents</b></p>

        Chapter 1: Strategy for applying (maximize your chances!</br>
		    Chapter 2: Harvard academics (dispelling myths)</br>
		    Chapter 3: Harvard social scene and culture (what’s everyone like?)</br>
		    Chapter 4: Post-Harvard prospects (or, is Harvard worth the price tag?)</br>
		    Chapter 5: Should you attend Harvard or _________ ?</br>


        <p class="headerTag"><b>Preview: Excerpt from page 8</b></p>

	There’s a common misconception of Harvard professors being standoff-ish and inaccessible. This is not the case. Professors must be evaluated on a case-by-case basis, as is true at any college. The vast majority of professors at Harvard try to make themselves very available for undergraduates, and they all have office hours. If anything, I’d say that Harvard undergraduates underutilize these office hours opportunities. Different departments have different reputations (most humanities-related concentrations have very involved professors, while large departments like Economics will have a larger proportion of less involved professors). That said, every department will have a healthy representation of interested and engaged professors.</br>

The vast majority of professors I’ve had have been very interested, engaged, and accessible. Additionally, Harvard has a course guide with comments and ratings of students who’ve taken the class previously. You can use these ratings and comments to see what past students felt about professors. If you utilize this resource well, you should be able to completely avoid inaccessible or disinterested professors. There are MORE than enough engaged and fascinating...
</br></br>Download the rest of the guide to see more!



    </div>
</div>


<% include footer.html %>