<!DOCTYPE html>
<html lang="en" ng-app>
	<head>
		<title><%= title %></title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

		<!-- AngularJS -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
		
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="javascripts/vendor/jquery.ui.widget.js"></script>
		<script src="javascripts/jquery.iframe-transport.js"></script>

	
	</head>

	<body>

	<header class="navbar">
    	<div class="container">
      		<a href="/" id="logo">Insidesy</a>
      		  <input id="suggestionBox" type="text" ng-model="suggestion" placeholder="Suggest topics you'd like guides on">
      		<a href="/yourguide" class="right-nav">Write and sell your own guide</a>
      		<a href="/about" class="right-nav">About</a>
    	</div>

	</header>