<!DOCTYPE html>
<html lang="en" ng-app>
	<head>
		<title><%= title %></title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

		<!-- AngularJS -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
		
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="javascripts/vendor/jquery.ui.widget.js"></script>
		<script src="javascripts/jquery.iframe-transport.js"></script>
		<script src="javascripts/jquery.fileupload.js"></script>

	
	</head>

	<body>

	<header class="navbar">
    	<div class="container">
      		<div class="logo">
        		<a href="/" id="logo">Insidesy</a>
      		</div> 
      
	      	<nav>
	          		<a href="/about">About</a>
	      	</nav>
    	</div>
	</header>