<% include header.html %>

<div class="middle">
  <div class="middleInner">

  <a style="display:block" href="/harvard">
    <div class="guideBox">
        <img class="circlePic" src="/harvard.jpg" alt="harvard">
        <p class="guideTitle">Our First Guide:</br>What's Harvard like?</p>
        <p class="description">
          20-page PDF: a first-hand account of what the Harvard undergraduate experience is like.</p></br>
        <p class="clickToPreview">click to preview</p>
    </div>
  </a>


  <div class="author">
      <img class="circlePic" src="/molly.png" alt="molly"></br></br>
      The author of this guide, Molly Yang, is a 2013 graduate of Harvard College. She wrote this guide to provide a consolidated, deeper, and non-evangelical look at Harvard to help you make your decision about whether Harvard's the school for you.
      </br></br>
      Download a copy for $8.</br></br>

      <!-- STRIPE -->
      <form action="/charge" method="POST">
      <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="pk_test_QBdYETMCZtbvciG4WBalMS0I"
        data-amount="800"
        data-name="Download Guide"
        data-description="20-page Harvard guide ($8)"
        data-image="/crest.jpg"
        data-allow-remember-me = "false">

      </script>
    </form>


  </div>



  </div>
</div>

<% include footer.html %>