<% include header.html %>

<div class="middle">


  <a style="display:block" href="/harvard">
    <div class="guideBox">
        <h5 class="guideTitle">Our First Guide:</br>What's Harvard like?</h5>
        <img id="harvardPic" src="/2013classpic.jpg" alt="some_text">
        <p class="guidePages">20 pages</p>
        <p class="clickToPreview">click to preview</p>
    </div>
  </a>


  <div class="author">
      <p>About the Author</p></br>
      Molly is a 2013 graduate of Harvard College, hailing originally from Phoenix, Arizona. She wrote this guide to provide a consolidated deeper, non-evangelical look at Harvard.
  </div>

  <!-- STRIPE -->
    <form action="/charge" method="POST">
      <input name="utf8" type="hidden" value="&#x2713;" />
      <input name="authenticity_token" type="hidden" value="f755bb0ed134b76c432144748a6d4b7a7ddf2b71" />
        
      <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="pk_test_QBdYETMCZtbvciG4WBalMS0I"
        data-amount="999"
        data-name="Download Guide"
        data-description="20-page Harvard guide ($9.99)"
        data-image="/crest.jpg">
      </script>
    </form>

</div>



<% include footer.html %>