<% include header.html %>

<div class="middle">

	Hope you like your guide! Misc. info. Contact, questions.</br></br>

  <!-- AddThis Button BEGIN -->
    <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
    <a class="addthis_button_preferred_1"></a>
    <a class="addthis_button_preferred_2"></a>
    <a class="addthis_button_preferred_3"></a>
    <a class="addthis_button_preferred_4"></a>
    <a class="addthis_button_compact"></a>
    <a class="addthis_counter addthis_bubble_style"></a>
    </div>
    <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53338ed21a8a4e98"></script>
    <!-- AddThis Button END -->


	<script type="text/javascript">
    	window.onload = function(){
     		document.location = '/Harvard.zip';
    	}
    </script>
	
</div>


<% include footer.html %>