/********** navbar *********/

.navbar {
	background: #FFFFFF;
	-moz-box-shadow:    0px 5px 7px 0px #D4D4D4;
	-webkit-box-shadow: 0px 5px 7px 0px #D4D4D4;
	box-shadow:         0px 5px 7px 0px #D4D4D4;
	padding: 20px 20px 20px 40px;
	/* Insidesy: */
	font-family: PoiretOne-Regular;
	font-size: 36px;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}


li {
	display: inline-block;
	padding-right: 40px;
}

#right-nav {
	float: right;
	text-align: left;
	padding-right: 30px;
}

#suggestionBox {
	width: 300px;
	padding: 10px 10px 10px 10px;
	margin-left: 300px;
	font-family: PoiretOne-Regular;
	font-size: 16px;
}

/********** body *********/

.middle {
	text-align: center;
	padding: 20px 20px 20px 20px;
	overflow: hidden;
	font-family: PoiretOne-Regular;
	font-size: 16px;
}


.guideBox {
	margin: 20px 20px 20px 20px;
	width: 300px;
	height: 400px;
	-moz-box-shadow:    0px 2px 4px 3px #D4D4D4;
	-webkit-box-shadow: 0px 2px 4px 3px #D4D4D4;
	box-shadow:         0px 2px 4px 3px #D4D4D4;
	float: left;
}

#harvardPic {
	width: 300px;
}

.author {
	width: 300px;
	overflow: hidden;
	margin: 20px 20px 20px 20px;
}


/********** footer *********/

.footer {
	background: #3A393A;
	color: #FFFFFF;
	padding: 50px 50px 50px 50px;
	font-family: 'Poiret One', cursive;
	text-align: center;
	overflow: hidden;
}

#mce-EMAIL {
	width: 250px;
	padding: 10px 10px 10px 10px;
	font-family: PoiretOne-Regular;
	font-size: 16px;
	float: left;
}

#mc-embedded-subscribe {
	width: 250px;
	float: left;
	overflow: hidden;
	margin-left: 30px;
}


