/********** whole doc *********/
h1, h2 {
	color: #4A4A4A;
}

body {
	margin: 0px 0px 0px 0px;
}

/********** body *********/


.middle {
	text-align: center;
	padding: 20px 20px 20px 20px;
	overflow: hidden;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	margin-left:auto;
	margin-right:auto;
}

.middleInner {
	margin: 0 auto;
	width: 700px;
	padding: 20px 20px 20px 20px;
}

.guideBox {
	width: 300px;
	height: 400px;
	-moz-box-shadow:    0px 2px 4px 3px #D4D4D4;
	-webkit-box-shadow: 0px 2px 4px 3px #D4D4D4;
	box-shadow:         0px 2px 4px 3px #D4D4D4;
	float: left;
	margin: 20px 50px 20px 50px;
}

.guideTitle {
	color: #4A4A4A;
	font-size: 20px;
	line-height: 30px;
}

#harvardPic {
	width: 300px;
}

.clickToPreview {
	line-height: 30px;
	color: #4A4A4A;
	font-size: 20px;
}

.author {
	width: 300px;
	height: 400px;
	overflow: hidden;
	color: #4A4A4A;
	font-size: 14px;
	line-height: 20px;
	margin-top: 20px;
}


.circleAuthor {
	width: 150px;
	height: 150px;
	border-radius: 100px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}
