/********** navbar *********/

.navbar {
	background: #FFFFFF;
	-moz-box-shadow:    0px 5px 7px 0px #D4D4D4;
	-webkit-box-shadow: 0px 5px 7px 0px #D4D4D4;
	box-shadow:         0px 5px 7px 0px #D4D4D4;
	padding: 20px 20px 20px 40px;
	/* Insidesy: */
	font-family: 'Open Sans', sans-serif;
	font-size: 36px;
	overflow: hidden;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

#logo {
	float: left;
	width: 100px;
}

.suggestionBox {
	width: 300px;
	padding: 10px 10px 10px 10px;
	margin-left: 200px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	float: left;
}

.right-nav {
	float: right;
	padding-right: 30px;
	padding-left: 60px;
	font-size: 24px;

}

/********** body *********/

.middle {
	text-align: center;
	padding: 20px 20px 20px 20px;
	overflow: hidden;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	margin-left:auto;
	margin-right:auto;
	width:50%;
}


.guideBox {
	width: 300px;
	height: 400px;
	-moz-box-shadow:    0px 2px 4px 3px #D4D4D4;
	-webkit-box-shadow: 0px 2px 4px 3px #D4D4D4;
	box-shadow:         0px 2px 4px 3px #D4D4D4;
	float: left;
	margin: 20px 50px 20px 50px;
}

#harvardPic {
	width: 300px;
}

.author {
	width: 300px;
	overflow: hidden;
	margin: 20px 20px 20px 20px;
}


/********** footer *********/

.footer {
	background: #3A393A;
	color: #FFFFFF;
	padding: 50px 50px 50px 50px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	overflow: hidden;
}

#mc_embed_signup {
	margin-left:auto;
	margin-right:auto;
	margin-top: 20px;
	width:50%;
}

/* email box */
#mce-EMAIL {
	width: 250px;
	padding: 10px 10px 10px 10px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	float: left;
}

/* signup button */
#mc-embedded-subscribe {
	width: 250px;
	float: left;
	overflow: hidden;
	margin-left: 30px;
}


